$color-main: #3378c2;
$color-second: #5fb523;
$color-text: #434b52;

#categories-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  * {
    margin-bottom: 0;
  }

  .categories-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    #categories {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 10px;
      padding: 20px;
    
      a {
        text-decoration: none;
      }
  
      .category-item {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 10px;
        height: 70px;
      
        * {
          color: $color-text;
        }
  
        .category-icon {
          border: $color-text 2px solid;
          width: 40px;
          height: 40px;
          padding: 3px; 
          margin-right: 10px;
          background-color: $color-text;
        }
      
        .category-amount {
          margin-left: auto;
        }
      }
    }
  }
}
