<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category_activities_path(category_id: category.id) do %>
      <%= render category %>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
