<h1>New category</h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
<%= link_to root_path do %>
  <%= image_tag("back_arrow.svg", alt: "Back", width: "20", height: "20") %>
<% end %>
