<div id="<%= dom_id activity %>">
  <p>
    <strong>Name:</strong>
    <%= activity.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= activity.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= activity.author_id %>
  </p>

</div>
