<h1>Editing activity</h1>

<%= render "form", activity: @activity %>

<br>

<div>
  <%= link_to "Show this activity", category_activity_path(category_id: @category.id, id: @activity.id) %> |
  <%= link_to "Back to activities", category_activities_path(category_id: @category.id) %>
</div>
